# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Titulo
## Subtitulo
Texto

In [1]:
# imports and load data
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
% matplotlib inline

df = pd.read_csv('store_data.csv', parse_dates = ['week'])
df.head()

        week  storeA  storeB  storeC  storeD  storeE
0 2014-05-04    2643    8257    3893    6231    1294
1 2014-05-11    6444    5736    5634    7092    2907
2 2014-05-18    9646    2552    4253    5447    4736
3 2014-05-25    5960   10740    8264    6063     949
4 2014-06-01    7412    7374    3208    3985    3023

In [2]:
# explore data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
week      200 non-null datetime64[ns]
storeA    200 non-null int64
storeB    200 non-null int64
storeC    200 non-null int64
storeD    200 non-null int64
storeE    200 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

In [27]:
# Qual loja obteve o maior resultado de vendas no último mês?
start_period = df['week'].max() - pd.DateOffset(days=df['week'].max().day - 1)
end_period = df['week'].max()

df.iloc[:,1:5][(df['week'] >= start_period) & (df['week'] <= end_period)].sum().idxmax()

'storeA'

In [4]:
# Qual loja vende mais, em média?
df.mean().idxmax()

'storeB'

In [16]:
# Qual loja vendeu mais durante a semana de 13 de março de 2016?
date_range = pd.date_range(start='2016-03-13', periods=7)
df.iloc[:,1:5][(df['week'] >= date_range[0]) & (df['week'] <= date_range[-1])].max().idxmax()

'storeD'

In [30]:
# worst week for store C
df.iloc[df['storeC'].idxmin()]['week']

Timestamp('2014-07-06 00:00:00')

In [32]:
# total sales during most recent 3 month period
start_period = df['week'].max() - pd.DateOffset(months=2) - pd.DateOffset(days=df['week'].max().day - 1)
end_period = df['week'].max()

df[(df['week'] >= start_period) & (df['week'] <= end_period)].

          week  storeA  storeB  storeC  storeD  storeE
187 2017-12-03    5179    3850    6121    6778     113
188 2017-12-10    9348    5624    5446    5448     227
189 2017-12-17    5310    8647    5680    7049    3578
190 2017-12-24    8976    9503    6240    3882    2890
191 2017-12-31   11875    1527    6711    5265    1701
192 2018-01-07    8978   11312    4158    5019    3842
193 2018-01-14    6963    4014    4215    7153    3097
194 2018-01-21    5553    3971    3761    6255    3071
195 2018-01-28     282    6351    7759    5558    1028
196 2018-02-04    4853    6503    4187    5956    1458
197 2018-02-11    9202    3677    4540    6186     243
198 2018-02-18    3512    7511    4151    5596    3501
199 2018-02-25    7560    6904    3569    5045    2585